body {
  background-image: url(../img/sfondo.png);
  padding: 20px;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
a {
  color: #03a8cd;
}

nav a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  text-align: left;
}

table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  border-bottom: #3366cc 2px solid;
}

th,
td,
tr {
  padding: 1em 1.5em;
  border: 1px solid rgb(255, 255, 255);
  vertical-align: bottom;
}

th {
  background-color: #4b68b7;
  color: white;
}

iframe {
  border-radius: 20px;
  margin-bottom: 10px;
}

div {
  text-align: left;
}

div a {
  font-size: 1.5em;
  font-weight: 500;
}

nav a {
  display: block;
  padding-block: 2px;
  margin-top: 0.5em;
  color: white;
  font-size: larger;
  font-weight: 500;
}

header h2 {
  color: white;
  margin-block: 2rem;
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
}

article p {
  font-size: 1.2em;
  text-align: left;
  margin-block: 1.5em;
  line-height: 1.3;
}

div h3 {
  margin-block: 0.5em 1.5em;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.3;
}

ul,
ol {
  padding-left: 2em;
  margin-top: -0.5em;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5;
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

div input {
  display: inline-block;
  width: auto;
  height: 2em;
  border: none;
  border-bottom: 1px dashed black;
}

div button {
  display: inline-block;
  background-color: #4e68b5;
  color: white;
  height: 2.5em;
}

.img-logo {
  width: 250px;
}

.box {
  padding: 1.5em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.box-color-1 {
  background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(1, 103, 136, 1) 100%);
}

.box-color-2 {
  background-color: white;
  margin-top: 2em;
}

.author-text {
  margin-top: 1.5em;
  font-size: large;
  text-align: left;
  color: #a0a1a2;
}

.purple-text {
  color: #aa2072;
  font-weight: 600;
}
.grey-span {
  background-color: #e3dedf;
  border-radius: 5px;
  border: black 1px solid;
}

.grey-tr {
  background-color: #f0f0f0;
  border-top: black 1px solid;
}

.bottom-box {
  padding: 1em;
  text-align: center;
  background-color: #e7dee0;
  margin-block: 2em;
}

.bb-border {
  border: 1px solid black;
  margin-block: 1em;
  text-align: left;
}

.related-text {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 500;
}

.date {
  text-align: right;
  margin-block: 0.5em;
  font-size: 1em;
}

#no-div {
  margin-top: 1.5em;
}
